/* Group Names: Anirudh Lath & Polina Lyubavina
uids: u1149016 & u0895721
Project: HW 7
Class: 6017-001 Data Analytics & Visualization */

body {
    font-family: 'Libre Baskerville';
}

.clicked {
    stroke-width: 3px;
}

h1 {
    text-align: center;
}

#visualization1 {
    display: block;
    margin: auto;
}
