body {
    font-family: 'Libre Baskerville';
}

p {
    text-align: left;
    font-size: 12px;
}

ul {
    font-size: 12px;
}

.clicked {
    stroke-width: 3px;
}

h1 {
    text-align: center;
}

#visualization1 {
    display: block;
    margin: auto;
}

#visualization2 {
    display: block;
    margin: auto;
}
